@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

body {
  height: 100%;
  padding-top: 300px;
  background-color: rgb(4, 66, 4);
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
   background: linear-gradient(90deg, rgb(122, 187, 122), rgb(70, 155, 70), rgb(18, 104, 18), rgb(4, 66, 4)); 
    background-size: 400% 400%; 
    animation: gradientAnimation 5s ease infinite; 
}
@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%; 
  }
  50% {
      background-position: 100% 50%; 
  }
  100% {
      background-position: 0% 50%; 
  }
}

.header-wrapper {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center; 
  background-color: #1a271f; 
  z-index: 1000; 
  padding: 10px 0; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
header {
  display: flex;
  gap: 40px;
}

header a {
  text-decoration: none; 
  color: white; 
  font-weight: bold;
  font-size: 19px;
  transition: .2s;
}
header a:hover {
    color: wheat; 
  }
header a i {
  font-size: 20px; 
  color: rgb(207, 205, 203); 
  transition: .2s;
}
header a i:hover{
    color: wheat;
}

.centered-div {
  width: 500px; 
  text-align: center; 
  color: rgb(207, 205, 203);
}

.footer-wrapper{
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1a271f;
  display: flex;
  justify-content: center; 
}
.footer-wrapper footer p{
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  color: rgb(207, 205, 203);
}

